<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
</head>
<body>

<h1>Login for API</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ messages }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}

{% if current_user.is_authenticated %}
    Hi {{ current_user.name }}!
{% endif %}

<form action="/login">
    <button type="submit">Login</button>
</form>

<form action="/register">
    <button type="submit">Register New User</button>
</form>

<form action="/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>
